/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }
  html, body{
    height: 100%;
  }
/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #03191e;
    background-color: #efedeb;
  }
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
h1,h2,h3,h4{
    font-family: 'Lora', serif;
}
a{
  color: #f63502;
}


/* header */
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #03191e;
}
.navbar a{
  color:#efedeb;
}
.logo{
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links ul{
  display: flex;
}
.nav-links ul li{
  margin-right: 0.9rem;
}
.nav-links ul li .active-link{
  color:#f63502;
  font-weight: bold;
}